## Initial imports

In [21]:
import pandas as pd
import matplotlib as plt
import numpy as np

### Encodes US 10yr csv, shows .head(), and runs count

In [34]:
us10yr = pd.read_csv("inc5000us_10years.csv", encoding="latin1")

In [35]:
us10yr.head()

,year,_ - rank,_ - city,_ - growth,_ - workers,_ - company,_ - state_s,_ - state_l,_ - revenue,_ - yrs_on_list,_ - industry,_ - metro
0,2016,1,Los Angeles,66788.5962,218.0,Loot Crate,CA,California,116247698.0,1,Consumer Products & Services,Los Angeles
1,2016,2,Somerville,36555.2472,100.0,Paint Nite,MA,Massachusetts,55018793.0,2,Consumer Products & Services,Boston
2,2016,3,Visalia,31633.5448,47.0,CalCom Solar,CA,California,33507450.0,2,Energy,"Visalia-Porterville, CA"
3,2016,4,Evansville,23619.7198,82.0,eLuxurySupply.com,IN,Indiana,30695215.0,2,Retail,"Evansville, IN-KY"
4,2016,5,Atlanta,23486.8894,48.0,Company.com,GA,Georgia,33370967.0,2,Business Products & Services,Atlanta

In [4]:
us10yr.count()

year               50197
_ - rank           50197
_ - city           50197
_ - growth         50193
_ - workers        50192
_ - company        50197
_ - state_s        50197
_ - state_l        50197
_ - revenue        50196
_ - yrs_on_list    50197
_ - industry       50165
_ - metro          50059
dtype: int64

### Renames columns to uniform lowercase pattern, runs .head(), and puts them into a "new DataFrame"

In [13]:
us10yrclean = us10yr.rename(columns={'_ - rank':'rank', '_ - city':'city','_ - growth':'growth', 
                      '_ - workers':'workers', '_ - workers':'workers',
                      '_ - company': 'company', '_ - state_s':'state_s', '_ - state_l':'state_l',
                      '_ - revenue':'revenue', '_ - yrs_on_list':'yrs_on_list','_ - industry':'industry',
                      '_ - metro':'metro'
                      })

In [9]:
del us10yr['_ - state_l']

In [14]:
us10yrclean.head(10)

,year,rank,city,growth,workers,company,state_s,revenue,yrs_on_list,industry,metro
0,2016,1,Los Angeles,66788.5962,218.0,Loot Crate,CA,116247698.0,1,Consumer Products & Services,Los Angeles
1,2016,2,Somerville,36555.2472,100.0,Paint Nite,MA,55018793.0,2,Consumer Products & Services,Boston
2,2016,3,Visalia,31633.5448,47.0,CalCom Solar,CA,33507450.0,2,Energy,"Visalia-Porterville, CA"
3,2016,4,Evansville,23619.7198,82.0,eLuxurySupply.com,IN,30695215.0,2,Retail,"Evansville, IN-KY"
4,2016,5,Atlanta,23486.8894,48.0,Company.com,GA,33370967.0,2,Business Products & Services,Atlanta
5,2016,6,Boston,16196.5338,15.0,Globalization Partners,MA,17743829.0,2,Business Products & Services,Boston
6,2016,7,New York,14574.6474,130.0,BounceX,NY,15733570.0,1,Software,New York City
7,2016,8,Santa Monica,14404.6093,25.0,Los York,CA,15598837.0,1,Advertising & Marketing,Los Angeles
8,2016,9,Pittsburgh,13380.8799,39.0,PANTHERx Specialty Pharmacy,PA,42425003.0,2,Health,"Pittsburgh, PA"
9,2016,10,Leesburg,12620.5845,9.0,FedBiz IT Solutions,VA,25863238.0,2,Government Services,"Washington, DC"

### Removes NaN values and replaces with "Unknown",  drops "metro column", then confirms all counts are equal

In [24]:
us10yrclean.loc[(us10yrclean["industry"].isnull()), 'industry'] = "Unknown"

In [26]:
us10yrclean.loc[(us10yrclean["growth"].isnull()), 'growth'] = "Unknown"

In [27]:
us10yrclean.loc[(us10yrclean["workers"].isnull()), 'workers'] = "Unknown"

In [28]:
us10yrclean.loc[(us10yrclean["revenue"].isnull()), 'revenue'] = "Unknown"

In [29]:
us10yrclean.count()

year           50197
rank           50197
city           50197
growth         50197
workers        50197
company        50197
state_s        50197
revenue        50197
yrs_on_list    50197
industry       50197
metro          50059
dtype: int64

In [30]:
del us10yrclean['metro']

In [31]:
us10yrclean.count()

year           50197
rank           50197
city           50197
growth         50197
workers        50197
company        50197
state_s        50197
revenue        50197
yrs_on_list    50197
industry       50197
dtype: int64

In [42]:
us10yrclean.dtypes

year            int64
rank            int64
city           object
growth         object
workers        object
company        object
state_s        object
revenue        object
yrs_on_list     int64
industry       object
dtype: object