In [1]:
import pandas as pd
import numpy as np

In [2]:
eu2016= pd.read_csv("inc5000eu_2016.csv", encoding="latin1")
eu2017= pd.read_csv("inc5000eu_2017.csv", encoding="latin1")
eu2018= pd.read_csv("inc500eu_2018.csv", encoding="latin1")

In [3]:
eu2016.columns

Index(['2016 Rank', 'Company', 'URL', 'Address', 'City', 'ZIP',
       'Employee Count', 'Founded Year', 'Company Phone', 'Revenue',
       'Inc.com URL', 'Growth', 'Revenue Raw', 'Country', 'Industry',
       'Years on INC 5000'],
      dtype='object')

In [4]:
eu2017.columns

Index(['url', 'rank', 'city', 'growth', 'company', 'revenue', 'country',
       'industry', 'yrs_on_list'],
      dtype='object')

In [5]:
eu2016["Year"]=""

In [6]:
eu2016.loc[:,'Year']=2016

In [7]:
eu2017["Year"]=""

In [8]:
eu2017.loc[:,'Year']=2017

In [9]:
eu2018["Year"]=""

In [10]:
eu2018.loc[:,'Year']=2018

In [11]:
eu2018.columns

Index([' url', ' rank', ' city', ' growth', ' company', ' country', ' revenue',
       ' industry', ' yrs_on_list', 'Year'],
      dtype='object')

# Make sure all the columns are the same throughout all the DataFrame

In [12]:
eu2016 = eu2016.rename(columns={'URL':'url', '2016 Rank':'rank', 'City':'city', 'Growth': 'growth','Company' :'company', 'Revenue Raw':'revenue', 
                                                      'Country':'country','Industry':'industry', 'Years on INC 5000':'yrs_on_list'})

In [13]:
eu2018 = eu2018.rename(columns={' url':'url', ' rank':'rank', ' city':'city', ' growth': 'growth',' company' :'company', ' revenue':'revenue', 
                                                      ' country':'country',' industry':'industry', ' yrs_on_list':'yrs_on_list'})

In [14]:
eu2016New=eu2016.loc[:,['url', 'rank', 'city', 'growth', 'company', 'country', 'revenue',
       'industry', 'yrs_on_list', 'Year']]

In [15]:
eu2016New.columns

Index(['url', 'rank', 'city', 'growth', 'company', 'country', 'revenue',
       'industry', 'yrs_on_list', 'Year'],
      dtype='object')

In [78]:
#create list that holds every dataframe
list_europe= [eu2016New,eu2017, eu2018]

In [79]:
#create new DataFrame that concates all the seperate tables
europeTable=pd.concat(list_europe, sort=False)
europeTable.columns

Index(['url', 'rank', 'city', 'growth', 'company', 'country', 'revenue',
       'industry', 'yrs_on_list', 'Year'],
      dtype='object')

In [80]:
#index value goes back to 0 when the year changes
#reset the index so the values do not reset to 0 after every new year
europeTable= europeTable.reset_index()

In [81]:
#drop the original index value
europeTable=europeTable.drop("index", axis=1)

#drop other unnecessary indices
europeTable=europeTable.drop("url", axis=1)
europeTable=europeTable.drop("rank", axis=1)

In [82]:
europeTable.iloc[4990:5010,:]

,city,growth,company,country,revenue,industry,yrs_on_list,Year
4990,Parnu,94.4899,Import Auto OU,Estonia,4855748.0,Retail,1,2016
4991,Istanbul,94.3728,ODC Business Solutions,Turkey,3720418.0,Business Products & Services,1,2016
4992,Deisslingen,93.3333,Camping-Freizeit Dorn OHG,Germany,5800000.0,Travel & Hospitality,1,2016
4993,paris,92.2665,Apsia,France,5479404.0,IT Services,1,2016
4994,Stockholm,4694.9849,Daniel Wellington AB,Sweden,155773187.0,Retail,1,2017
4995,Tourlaville,3956.7425,LE Petit Vapoteur,France,14535633.0,Retail,1,2017
4996,Szekesfehervar,3954.0236,Martin Metal Product,Hungary,16473241.0,Construction,1,2017
4997,Helsinki,3864.1671,Odeal Oy,Finland,16736000.0,Business Products & Services,1,2017
4998,London,3469.0884,Balyasny Europe Asset Management LLP,United Kingdom,39409838.0,Financial Services,1,2017
4999,Stockholm,3456.6324,Cabonline Technologies AB,Sweden,9005500.0,Business Products & Services,1,2017
5000,Corsham,3439.7579,Ukcloud Ltd,United Kingdom,40548528.0,IT Services,1,2017
5001,Stockholm,3229.8652,Star Stable Entertainment AB,Sweden,9700097.0,Software,1,2017
5002,Stockholm,3186.2977,Feo Media AB,Sweden,13747109.0,Software,1,2017
5003,Stockholm,3157.4633,Furniture Box AB,Sweden,36104485.0,Retail,1,2017
5004,Modena,3143.6532,Ecobloks - S.R.L.,Italy,12179042.0,Environmental Services,1,2017
5005,London,3109.3841,Smarkets,United Kingdom,14435200.0,Financial Services,1,2017
5006,Edinburgh,3073.3348,Kiltearn Partners LLP,United Kingdom,45813815.0,Business Products & Services,1,2017
5007,Saldus nov.,3064.5036,Jets Vacuum SIA,Latvia,6728779.0,Construction,1,2017
5008,London,3007.5517,Griffin Markets Group Limited,United Kingdom,10008585.0,Financial Services,1,2017
5009,Helsinki,2980.2610,AdLibris Finland Oy,Finland,18882000.0,Retail,1,2017

In [ ]:
#check to see if any null values are in the table

In [103]:
europeTable.isnull().any()

city           14944
growth         14944
company        14944
country        14944
revenue        14944
industry       14944
yrs_on_list    14944
Year           14944
dtype: int64

In [ ]:
#delete all rows that have no value for the company column

In [98]:
europeTable=europeTable.drop(europeTable.loc[(europeTable["company"].isnull()),:].index[:])

In [ ]:
#delete all rows that have no value for the country column

In [86]:
europeTable=europeTable.drop(europeTable.loc[(europeTable["country"].isnull()),:].index[:])

In [ ]:
#delete all rows that have no value for the growth column

In [102]:
europeTable=europeTable.drop(europeTable.loc[(europeTable["growth"].isnull()),:].index[:])

In [ ]:
#check to see if any null values are in the table

In [105]:
europeTable.isnull().any()

city           False
growth         False
company        False
country        False
revenue        False
industry       False
yrs_on_list    False
Year           False
dtype: bool